{% extends 'base.html' %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}

{% block content %}
  <section class="dashboard-counts section-padding">
    <div class="container-fluid">
      <div class="row top-bar">
        <div class="col-xl-4 col-md-8 col-8">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-user"></i></div>
              <div class="name"><strong class="text-uppercase">User</strong>
                <div class="user-info">
                  <ul>
                    <li>{{ user.email }}</li>
                  </ul>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Create Collection
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <img class="center-block" src="https://via.placeholder.com/150" alt="avatar" class="rounded-circle img-responsive">
                        </div>
                        <div class="modal-body">
                          <form method="POST" id="create-collection-form">
                              {{ form.hidden_tag() }}

                              {% for field in form if field.widget.input_type != 'hidden' %}
                                  {% for error in field.errors %}
                                      <span class="text-danger">{{ error }}</span>
                                  {% endfor %}
                                  {{ field(placeholder=field.label.text, class="form-control") }}
                              {% endfor %}

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-success create-collection">Create</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch">

        <div class="container">        
          <h2 class="display h4">Saved Games</h2>
          <div class="row">
            {% for game in games %}
            <div class="col-lg-4 card text-center">
              <img class="card-img-top" width="100%" height="250px" src='{{ game.background_image }}'' alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
                <p class="card-text"></p>
                <a href="/game/{{ game.id }}" class="btn btn-primary">More</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="collections">
    <div class="container">
      <h2 class="display text-primary">My Collections</h2>
      <div class="row">
        {% for collection in current_user.collections %}
          <!-- Card -->
          <a href="{{ url_for('collection_details', username=current_user.username, collection=collection) }}">
          <div class="card">
            <div class="card-body d-flex flex-row">
              <div>
                <h4 class="card-title font-weight-bold mb-2">{{ current_user.collections[collection].name }}</h4>
                <p class="card-text"><i class="far fa-clock pr-2"></i>{{ current_user.collections[collection].date_created }}</p>
              </div>
            </div>

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top rounded-0" src="{{ current_user.collections[collection].imageURL }}" alt="Card image cap" width="250px" height="250px">
            </div>
          </div>
          </a>
          <!-- Card -->
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}