{% extends 'base.html' %}

{% block content %}
<div class="container form-container">

<form method="POST" id="log_form">

    {{ form.hidden_tag() }}

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            {{ form.email(class="form-control", placeholder="Email") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
    </div> <!-- form-group// -->

    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
            {{ form.password(class="form-control", placeholder="Password") }}
            {% for error in form.password.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
    </div> <!-- form-group// -->
                                
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div> <!-- form-group// -->      
    <p class="text-center">Need an account? <a href="{{ url_for('register') }}">Sign Up!</a> </p>                                                                 
</form>

</div>
{% endblock %}