{% extends 'base.html' %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
</script>
{% endblock %}

{% block welcome_text %}

<div class="welcome-text">
  <div class="container text-center white-text">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Welcome to RAWG Playground</h1>
      {% if current_user.is_anonymous %}
      <h4><a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}">Sign Up</a> to start creating your own collections 
      or use search bar below to search for games of your preference.</h4>
      {% else %}
      <h4><a href="{{ url_for('account', username=current_user.username) }}">Start creating your own game collections</a> or search for any game of your preference</h4>
      {% endif %}

	<div class="row search-bar">
		<div class="col-md-12">

      <form method="POST" action="{{ url_for('search') }}" id="index-search-form">
        <div class="input-group" id="adv-search">
            <div style="flex: auto;">
              {{ form.search(placeholder=form.search.label.text, class="form-control") }}
              {% if form.search.errors %}
              <ul class="errors">
                {% for error in form.search.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            
              <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse" style="border-radius: 0;">More</button>

                <div class="collapse" id="searchCollapse" role="menu" style="width: 100%;">

                    <div class="form-group">{{ form.publishers.label }} {{ form.publishers(class="form-control custom-select") }}
                      {% if form.publishers.errors %}
                      <ul class="errors">
                        {% for error in form.publishers.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    <div class="form-group">{{ form.genres.label }} {{ form.genres(class="form-control custom-select") }}
                      {% if form.genres.errors %}
                      <ul class="errors">
                        {% for error in form.genres.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    <div class="form-group">{{ form.order_by.label }} {{ form.order_by(class="form-control custom-select") }}
                      {% if form.order_by.errors %}
                      <ul class="errors">
                        {% for error in form.order_by.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

            </div>
          </div>
          

          <button class="btn button default">Search</button>
        </form>
      </div>
	  </div>
  </div>
    </div>
  </div>
</div>

{% endblock %}


{% block content %}

<div class="main-content">

<section id="posts" class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-8 col-xs-offset-2 align-self-center">
        <p class="display-4">Explore your favorite games in one place</p>
        <span class="underline"></span>
      </div>
    </div>
  </div>
</section>

<div class="features container">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <div class="feature-box style-2">
        <div class="feature-media">
          <img src="https://img.icons8.com/pastel-glyph/128/000000/search--v2.png"/>
        </div>

        <div class="feature-body">
            <div class="custom-heading style-1">
                <a href="{{ url_for('search') }}">
                    <h2>Start Browsing</h2>
                </a>
            </div>
            <p class="feature-desc">
                Save and keep track of the games you wish to play, are currently playing,
                or finished playing
            </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
      <div class="feature-box style-2">
        <div class="feature-media">
          <img src="https://img.icons8.com/cotton/128/000000/folder-invoices--v1.png"/>
        </div>

        <div class="feature-body">
            <div class="custom-heading style-1">
                <a href="{{ url_for('account', username=current_user.username) }}">
                    <h2>Explore Collections</h2>
                </a>
            </div>
            <p class="feature-desc">
                Combine the games in collections to categorize them for
                yourself or share them with others
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="games-container">
  <div class="container">
    <div class="inside light page-section text-center">
      <div class="row justify-content-center">
        <div class="carousel-title">
          <p class="display-4">Public Collections</p>
        </div>
        <div class="owl-carousel">
          {% for collection in collections %}
          <a href="{{ url_for('collection_details', username=collection.username, collection=collection.slug) }}">
            <div class="card text-center">
              <img class="card-img-top" src="{{ collection.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ collection.name }}</h5>
                <small>By {{ collection.username }}</small>
              </div>
            </div>
          </a>
          {% endfor %}
                    
        </div>
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}