{% extends 'base.html' %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
	<div class="row search-bar">
		<div class="col-md-12">
      <form method="POST" id="search-form">
        <div class="input-group" id="adv-search">
            <div style="flex: auto;">
              {{ form.search(placeholder=form.search.label.text, class="form-control") }}
              {% if form.search.errors %}
              <ul class="errors">
                {% for error in form.search.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">

                    <div class="form-group">{{ form.publishers.label }} {{ form.publishers(class="form-control custom-select") }}
                      {% if form.publishers.errors %}
                      <ul class="errors">
                        {% for error in form.publishers.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    <div class="form-group">{{ form.genres.label }} {{ form.genres(class="form-control custom-select") }}
                      {% if form.genres.errors %}
                      <ul class="errors">
                        {% for error in form.genres.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>

                    <div class="form-group">{{ form.order_by.label }} {{ form.order_by(class="form-control custom-select") }}
                      {% if form.order_by.errors %}
                      <ul class="errors">
                        {% for error in form.order_by.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
	  </div>
  </div>
</div>




<div class="games container"></div>
<div class="next-prev text-center"></div>

<script>
let args = {{ args|safe }}
for ([key, value] of Object.entries(args)) {
  key.replace(/&#39;/g,"'")
  value.replace(/&#39;/g,"'")
}
</script>

{% endblock %}